<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Upload Screen</li>
      <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1255PX;"> Naveen</a>
  </ol>
</nav>


<div class="container register">
 
    <div >
        <div class="tab-content" id="myTabContent">
                        <h3 style="text-align: center;">Upload Screen</h3>
                        <div style="margin-left: 15%;" class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">*Attach Issues Image:</label>
                        </div>
                        <div >
                          <img style="width: 2%;margin-left: 25%;" src="assets/attach icon.png"/>
                        </div>
                        <div >
                          <img style="width: 3%;margin-left: 25%;" src="assets/camera-icon.png"/>
                        </div>
                      
                        </div>
                        <br>
                        <div style="margin-left: 15%;" class="row g-3 align-items-center">
                          <div class="col-auto">
                            <label style="font-weight: bolder;" for="inputPassword6" class="col-form-label">*Issues Description:</label>
                          </div>
                          <div class="col-auto">
                            <input class="form-control" style="width: 200%;margin-left: 2%;height: 120px;border-color:darkgoldenrod;" type="text" id="fname" name="fname">
                          </div>
                          <br>
                          </div>
                          <br>
                        <div style="margin-left: 15%;" class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label style="font-weight: bolder;" for="inputPassword6" class="col-form-label">*Date:</label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width: 200%;margin-left: 61%;border-color:darkgoldenrod;" type="text" id="fname" name="fname">
                        </div>
                      </div>
                      <br>
                      <div style="margin-left: 15%;" class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label style="font-weight: bolder;" for="inputPassword6" class="col-form-label">*Severity:</label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width: 200%;margin-left: 47%;border-color:darkgoldenrod;" type="text" id="fname" name="fname">
                        </div>
                        </div>
                        <br>
                        <div style="margin-left: 15%;" class="row g-3 align-items-center">
                          <div class="col-auto">
                            <label style="font-weight: bolder;" for="inputPassword6" class="col-form-label">*Checklist No:</label>
                          </div>
                          <div class="col-auto">
                            <input class="form-control" style="width: 200%;margin-left: 28%;border-color:darkgoldenrod;" type="text" id="fname" name="fname">
                          </div>
                          </div>
                          <br>
                        <div style="margin-left: 15%;" class="row g-3 align-items-center">
                          <div class="col-auto">
                            <label style="font-weight: bolder;" for="inputPassword6" class="col-form-label">*Issue ID:</label>
                          </div>
                          <div class="col-auto">
                            <input class="form-control" style="width: 200%;margin-left: 47%;border-color:darkgoldenrod;" type="text" id="fname" name="fname">
                          </div>
                          </div>
                          <br>
                       
                        <button style="margin-left: 66%;width: 10%;font-weight: lighter;" class="border border-2" type="add">Add Issue</button>
                        
                        <form >
                            <label style="margin-left: 18%;" for="fname">*Mandatort Field:</label><br>
                            <button style="margin-left: 18%;margin-bottom: 2%;width: 11%;" class="btn btn-success" type="approve">Save</button>
                        </form>
               </div>
          </div>
      </div>
   

