<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User preferences</li>
        <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1277PX;"> Naveen</a>
    </ol>
  </nav>
  
  
  <div class="container register">
   
        <div class="col-md-12 register-right">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100">User preferences</h5>
          </div>
           
            <div style="margin-top: 0%;" class="tab-content" >
                <div style="margin-top: 2%;" class="xyz" id="home" role="tabpanel">
                   
                        <form style="margin-left: 0%;" class="col-lg-offset-8" >
                            
                                
                                    <table style="margin-left: 0%;" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="color: white;font-weight: bold;">Production Plant</th>
                                                <th style="color: white;font-weight: bold;">PartName(S)</th>
                                                <th style="color: white;font-weight: bold;">Die Set No.</th>
                                                <th style="color: white;font-weight: bold;" >BuyOffType</th>
                                                <th style="color: white;font-weight: bold;" >Mode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SAVB</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>Ok to Ship</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVP</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>663E753H765T89</td>
                                                <td>PreBuyOff</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVB</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>Ok to Ship</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVP</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>PreBuyOff</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVB</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>Ok to Ship</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVB</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>5Y63E753H765T89</td>
                                                <td>PreBuyOff</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVP</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>Ok to Ship</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVB</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>5563E753H765T89</td>
                                                <td>PreBuyOff</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                            <tr>
                                                <td>SAVP</td>
                                                <td>PNL BDY SD INR RH/LH</td>
                                                <td>563E753H765T89</td>
                                                <td>Ok to Ship</td>
                                                <td><button style="margin-bottom: 5%;margin-top: 5%;" class="btn btn-success" type="update">Update</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                
                           
                        </form> 
            </div>
        </div>
    </div>
  
  </div>
  





























