
<div id="wrapper">
    <div id="main">
      <div>
        <router-outlet>

        </router-outlet>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="inner" style="background-color: #005b9f;width: 250px;padding-top: 2px;">
      <!-- Menu -->
      <nav id="menu">
        <!-- <header class="major" id="menuTitle" style="margin-left: 30px;margin-top: 30px;">
          <h2> iBuy Off Application</h2>
        </header> -->
        <ul>
          <!-- <li><a routerLink="/test10form" style="margin-left: 30px;">
            <h4>Menu Bar</h4>
          </a> </li> -->

          <li><a routerLink="/approval" style="margin-left: 30px;padding-top: 3px;">
            <h4 style="padding-top: 10%;">Approval</h4>
          </a> </li>
          <li><a routerLink="/additionalApproval" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Additional Approval</h4>
          </a> </li>
          <li><a routerLink="/masterData" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Master Data</h4>
          </a> </li>
          <li><a routerLink="/newChecklist" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Create New Checklist</h4>
          </a> </li>
          <li><a routerLink="/newChecklist" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Search & Update</h4>
          </a> </li>
          <li><a routerLink="/newChecklist" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Reports</h4>
          </a> </li>
          <li><a routerLink="/newChecklist" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">Reports-Program Level</h4>
          </a> </li>
          <li><a routerLink="/userPreferences" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">User preferences</h4>
          </a> </li>
          <li><a routerLink="/dieRecipe" style="margin-left: 30px;">
            <h4 style="padding-top: 10%;">dieRecipe</h4>
          </a> </li>
          <li><a routerLink="/generalInspection" style="margin-left: 30px;">
            <h4>General Inspection</h4>
          </a> </li>
          <!-- <li><a routerLink="/registerPage" style="margin-left: 30px;">
            <h4>Register Page</h4>
          </a> </li> -->
          <!-- <li><a routerLink="/coverSheet" style="margin-left: 30px;">
            <h4>Cover Sheet</h4>
          </a> </li>

          <li><a routerLink="/dieInspection" style="margin-left: 30px;">
            <h4>Die Inspection</h4>
          </a> </li>
          <li><a routerLink="/test6form" style="margin-left: 30px;">
            <h4>Image upload screen</h4>
          </a> </li>
          <li><a routerLink="/dieRecipe" style="margin-left: 30px;">
            <h4>Die Recipe Create</h4>
          </a> </li> -->

          <!-- <li><a routerLink="/test12form" style="margin-left: 30px;">
            <h4>Checklist</h4>
          </a> </li> -->
          <!-- <li><a routerLink="/uploadScreen" style="margin-left: 30px;">
            <h4>Upload Screen</h4>
          </a> </li>
          <li><a routerLink="/dataIssues" style="margin-left: 30px;">
            <h4>Data Issues</h4>
          </a> </li> -->
          <!-- <li><a routerLink="/pressWindow" style="margin-left: 30px;">
            <h4>Press Window</h4>
          </a> </li> -->
          <!-- <li><a routerLink="/test9form" style="margin-left: 30px;">
            <h4>Die Recipe Create</h4>
          </a> </li>
          <li><a routerLink="/static&Dynamic" style="margin-left: 30px;">
            <h4>Static & Dynamic</h4>
          </a> </li> -->

        </ul>
      </nav>
    </div>

  </div>
