<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manu Bar</li>
    </ol>
</nav>
<div class="container register">
<div class="row totalSize">
    <div class="col-md-3 register-left">
        <img src="assets/images/thirdware_logo.png" alt=""/>
        <h3>Welcome</h3>
        <p>iBuy Off Application</p>
        <h3>Manu Bar</h3>

    </div>
    <div class="col-md-9 register-right">

        <div class="tab-content" id="myTabContent">
            <div class="xyz" id="home" role="tabpanel">

                    <h1>iBuy Off</h1>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                    <form class="col-lg-offset-8" >

                        <button type="button" routerLink="/test1form" class="btn btn-primary" style="width: 200%;">Approvel</button>
<br>
<br>

<button type="button" routerLink="/additionalApproval" class="btn btn-primary" style="width: 200%;">Additional Approval</button>
<br>
<br>
<button type="button" routerLink="/test11form" class="btn btn-primary" style="width: 200%;">Master Data-Excel Upload</button>
<br>
<br>
<button type="button" routerLink="/testform"  class="btn btn-primary" style="width: 200%;">Create New Checklist</button>
<br>
<br>
<button type="button" routerLink="/testform" class="btn btn-primary" style="width: 200%;">Search & Update</button>
<br>
<br>
<button type="button" routerLink="/testform" class="btn btn-primary" style="width: 200%;">Reports</button>
<br>
<br>
<button type="button" routerLink="/testform" class="btn btn-primary" style="width: 200%;">Reports-Programe Level</button>
<br>
<br>
<button type="button" routerLink="/test7form" class="btn btn-primary" style="width: 200%;">User Preferences</button>
<br>
<br>
<button type="button" routerLink="/test8form" class="btn btn-primary" style="width: 200%;">Register Page</button>
<br>
<br>

                     </form>
                    </div>
                    <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>
</div>
