<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New CheckList</li>
        <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1297PX;"> Naveen</a>
    </ol>
  </nav>
  
  
  <div class="container register">
   
        <div class="col-md-12 register-right">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100">Create New CheckList</h5>
          </div>
         
            <div style="margin-top: 0%;" class="tab-content" >
                <div style="margin-top: 2%;" class="xyz" id="home" role="tabpanel">
                   
                        <form style="margin-left: 28%;" class="col-lg-offset-8" >
                            <div class="form-group">
                                <label  for="website">Program</label>
                                <input class="form-control" placeholder='Program' style="width: 15%;margin-left: 0%;" type="text" id="name">
                              
                            </div>
                            <div class="form-group">
                                <label for="website">Production Plant</label>
                                <input class="form-control" placeholder='Production Plant' style="width: 15%;margin-left: 0%;" type="text" id="name">
                               
                            </div>
                            <div class="form-group">
                                <label  for="website">Part Name</label>
                                <input class="form-control" placeholder='Part Name' style="width: 15%;margin-left: 0%;" type="text" id="name">
                               
                            </div>
                            <div class="form-group">
                                <label  for="website">Part#</label>
                                <input class="form-control" placeholder='Part' style="width: 15%;margin-left: 0%;" type="text" id="name">
                                
                            </div>
                            
                            <div class="form-group">
                                <label  for="website">Dieset Number</label>
                                <input class="form-control" placeholder='Dieset Number' style="width: 15%;margin-left: 0%;" type="text" id="name">
                                
                            </div>
                            <div class="form-group">
                                <label  for="website">Dieset Lineup</label>
                                <input class="form-control" placeholder='Dieset Lineup' style="width: 15%;margin-left: 0%;" type="text" id="name">
                                
                            </div>
                            <div class="form-group">
                                <label  for="website">Tool Supplier</label>
                                <input class="form-control" placeholder='Tool Supplier' style="width: 15%;margin-left: 0%;" type="text" id="name">
                                
                            </div>
                            <div class="form-group">
                                <label  for="website">Buy Off Type</label>
                                <input class="form-control" placeholder='Buy Off Type' style="width: 15%;margin-left: 0%;" type="text" id="name">
                                
                            </div>
                            <br>
                            <button routerLink="/fiveChecklist" style="width: 30%; margin-left: 17%;" class="btn btn-success" type="continue">Continue</button>
                            
                        </form> 
            </div>
        </div>
    </div>
  
  </div>
  

