<!-- <div class="container register1"> -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create New Checklist-Online</li>
        </ol>
    </nav>
    <div class="container register"> 
    <div class="row totalSize" >
        <div class="col-md-3 register-left">
            <img src="assets/thirdware_logo.png" alt=""/>
            <h3>Welcome</h3>
            <p>iBuy Off Application</p>
            <h3>Create New Checklist-Online</h3>
           
        </div>
        <div class="col-md-9 register-right">
           
            <div class="tab-content" id="myTabContent">
                <div style="margin-top: 5%;" class="xyz" id="home" role="tabpanel">
                   
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                        <form class="col-lg-offset-8" >
                            <br> 
                              
                            <button type="button" class="btn btn-primary" style="width: 200%;">1.Cover Sheet</button>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" style="width: 200%;">2.Die Resipe</button>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" style="width: 200%;">3.General Inspection</button>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" style="width: 200%;">4.Die Inspection</button>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" style="width: 200%;">5.Press Window Analysis</button>
<br>
<br>
<br>
<button type="button" class="btn btn-success" style="width: 90%;margin-right: 200%;">Pre BuyOff Lock</button>
<br>
<br>
                         </form> 
                        </div>
                        <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>

 </div>