<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Die Inspection</li>
      <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1255PX;"> Naveen</a>
  </ol>
</nav>

<br>
<div class="container register">
<div style="margin-top: 0%;" class="container">

<div>
  <div style="margin-top: 0%;" >
  <h1 style="text-align: center;">Die Inspection</h1>
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div style="margin-top: 1%;margin-left: 1%;" class="nav nav-tab" id="nav-tab" >
            <a class="nav-item nav-link" id="#d1" data-toggle="tab" href="#d1" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
            <a class="nav-item nav-link" id="#d2" data-toggle="tab" href="#d2" role="tab" aria-controls="nav-profile" aria-selected="false">Die Identification</a>
            <a class="nav-item nav-link" id="#d3" data-toggle="tab" href="#d3" role="tab" aria-controls="nav-home" aria-selected="true">Safety</a>
            <a class="nav-item nav-link" id="#d4" data-toggle="tab" href="#d4" role="tab" aria-controls="nav-profile" aria-selected="false">Draw Die Specific</a>
            <a class="nav-item nav-link" id="#d5" data-toggle="tab" href="#d5" role="tab" aria-controls="nav-contact" aria-selected="false">Trim/Pie</a>
          </div>
        </nav>
      
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="d1">
                .....................IN Progresssss...........General.....................
              </div>
              <div class="tab-pane fade" id="d2">
                <table style="margin-left: 0%;border-bottom: black;">
                  
                  <thead>
                    <tr >
                        <th class="text-center">
                            D
                        </th>
                        <th class="text-center">
                            Subject
                        </th>
                        <th style="width: 15%;" class="text-center">
                          Wdx
                        </th>
                        <th class="text-center">
                          
                         </th>
                         <th class="text-center">
                            5
                         </th>
                         <th class="text-center">
                          29
                         </th>
                         <th class="text-center">
                          14
                         </th>
                        <th class="text-center">
                          13
                        </th>
                         
                    </tr>
                </thead>
                  <tr>
                    <td style="text-decoration: underline;color: blue;font-weight: initial;">D27</td>
                    <td style="font-weight: initial;text-align: left;">Die and patternidentification(in national language of reciving plant) </td>
                    <td  style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX12-51M</td>
                    <td  style="font-weight: initial;">N/A</td>
                    <td  data-name="name">
                      <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                    </td>
                    <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                    <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                    <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                    <td data-name="name">
                      <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                    </td>
                    <td data-name="name">
                      <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                    </td>
                    <td  data-name="name">
                      <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                    </td>
                  </tr>
                  <tr>
                      <td style="text-decoration: underline;color: blue;font-weight: initial;">D28</td>
                      <td style="font-weight: initial;text-align: left;">Safety and carline paint colors </td>
                      <td  style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX20-60M</td>
                      <td  style="font-weight: initial;">N/A</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td  data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td  data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td  data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td  data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                    <tr>
                      <td  style="text-decoration: underline;color: blue;font-weight: initial;">D29</td>
                      <td  style="font-weight: initial;text-align: left;">Actual die weights (US plants - US Tons)</td>
                      <td  style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX20-60M</td>
                      <td  style="font-weight: initial;">N/A</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                    <tr>
                      <td style="text-decoration: underline;color: blue;font-weight: initial;">D30</td>
                      <td style="font-weight: initial;text-align: left;">Air pin location schematic tag (if applicable) </td>
                      <td style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX20-60M</td>
                      <td style="font-weight: initial;">N/A</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                    <tr>
                      <td style="text-decoration: underline;color: blue;font-weight: initial;">D31</td>
                      <td style="font-weight: initial;text-align: left;">Nitrogen springs warning tags</td>
                      <td style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX20-60M</td>
                      <td style="font-weight: initial;">N/A</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                    <tr>
                      <td  style="text-decoration: underline;color: blue;font-weight: initial;">D32</td>
                      <td style="font-weight: initial;text-align: left;">Air line header block color coded</td>
                      <td style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX18-50M</td>
                      <td style="font-weight: initial;">N/A</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                    <tr>
                      <td style="text-decoration: underline;color: blue;font-weight: initial;">D33</td>
                      <td style="font-weight: initial;text-align: left;">Air line header block color coded</td>
                      <td style="font-weight: initial;font-weight: initial;text-decoration: underline;color: blue;">W-DX38-60M</td>
                      <td style="font-weight: initial;">OK</td>
                      <!-- <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td>
                      <td><input  style="width: 100%;height: auto;" type="text" id="fname" name="fname"></td> -->
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      <td data-name="name">
                        <input style="width: 50%; margin-left: 25%;" type="text" name='name0' class="form-control"/>
                      </td>
                      
                    </tr>
                  </table>
              </div>
              <div class="tab-pane fade" id="d3">
                ..........................In Progressss.............Safety...............
              </div>
              <div class="tab-pane fade" id="d4">
                ..........................In Progressss............Draw Die Specific.....
              </div>
              <div class="tab-pane fade" id="d5">
                ..........................In Progressss............Trim/Pie...............
              </div>
              
          </div>
        </div>
        <button style="margin-left: 40%;width: 300px;" class="btn btn-success" type="approve">Save</button>
      </div>
    </div>
  </div>
  </div>
</div>

