<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cover Sheet</li>
        <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1255PX;"> Naveen</a>
    </ol>
</nav>

<br>
<div class="container register">
    <div class="modal-header text-center">
        <h3 class="modal-title w-100">Cover Sheet</h3>
      </div>
      <br>
     
        
          <br>
          <form >
            <small style="margin-left: 20%;font-weight: bold;">Program : B563</small> <br>
            <br>
            <small style="margin-left: 20%;font-weight: bold;">Die Set Number : 69Z5PEA4BFA690</small><br>
            <br> 
            <form>
                <label style="margin-left: 20%;" for="name">Die Set Line Up:</label>
            
            <form style="margin-top: 0%;" class="form-inline">
                <input class="form-control" style="width: 5%;margin-left: 20%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">
            </form>
          </form>
            <form>
                <label style="margin-left: 20%;margin-top: 0%;" for="name">Die Design Version:</label>
            
            <form style="margin-top: 0%;" class="form-inline">
                <input class="form-control" style="width: 5%;margin-left: 20%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">&nbsp;
                <input class="form-control" style="width: 5%;" type="text" id="name">
            </form> 
          </form>
            <small style="margin-left: 20%;font-weight: bold;">Part Name : PNL BDY SD INR RH/LH Part1</small><br>
            <br>
            <small style="margin-left: 20%;font-weight: bold;">Part Number : EB5-A27864/5-A</small><br>
           <br>
           <div class="form-group">
              <label style="margin-left: 5%;">WERS Release No:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
            <small style="margin-left: 20%;font-weight: bold;">Supplier : Najing Qiaofeng</small><br>
            <br>
            <small style="margin-left: 20%;font-weight: bold;">Product Plant : SVAC</small><br>
            <br>
            <div class="form-group">
              <label style="margin-left: 5%;">Die Process Version:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
            <div class="form-group">
              <label style="margin-left: 5%;">Ld File Version:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
            <div class="form-group">
              <label style="margin-left: 5%;">Part L&P Version:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
            <div class="form-group">
              <label style="margin-left: 5%;">Part and LD Version:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
            
              <div class="form-group">
                <label style="margin-left: 5%;">Fixt. Repeatablity:</label>
                <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
              </div>
              <br>
            <div class="form-group">
              <label style="margin-left: 5%;">%Actual:</label>
              <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
            </div>
            <br>
          <div class="form-group">
            <label style="margin-left: 5%;">Pass:</label>
            <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
          </div>
          <br>
          <div class="form-group">
            <label style="margin-left: 5%;">FLD Safety Factor:</label>
            <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
          </div>
          <br>
          
          <div class="form-group">
            <label style="margin-left: 5%;">%Actual:</label>
            <input class="form-control" style="width: 15%;margin-left: 5%;" type="text" id="name">
          </div>
          <br>
           </form>
      <button style="margin-left: 35%;margin-bottom: 2%;width: 30%;margin-top:auto;" class="btn btn-success" type="approve">Save</button>
   
  </div>


  