.container{
    float: center;
    margin-top: 0%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
  
    font-weight: 300;
    width: 40%;
    cursor: pointer;
  }
  .form-group{
    width: 400%;
}