
<div id="wrapper">
    <div id="main">
      <div  class="inner">
        <div id="head">
          <header id="header">
           
              <div class="col-lg-12" >
                <div class="col-lg-2">
                  <a href="#!home" class="logo"><img style="height: 80%;width: 50%;" src="assets/Ford-Oval.png" /> </a>
                </div>
                <div class="col-lg-7">
                <h1 class="col-lg-2" style="width: 100%;margin-bottom: 1%;color: rgb(118, 134, 54);margin-left: 45%;">iBuy Off Application</h1>
                </div>
                <!-- <div class="col-lg-3">
                <a class="glyphicon glyphicon-user disabled" style="margin-left:1px;color:black;margin-top: 10PX;margin-left: 270PX;"> Naveen</a>
              </div> -->
              </div>
          </header>
        </div>
        
      </div>
      
      <div>
        <app-menubar></app-menubar>
      </div>
    </div>
    
  </div>
  
  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">
      &copy; 2019 Ford Motor Company | All rights reserved. <a href="https://www.ford.com"></a>.
    </p>
  </footer>