<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/" href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Master Data</li>
        <a class="responsive" class="glyphicon glyphicon-user disabled" style="color:black;margin-top: 0PX;margin-left: 1324PX;"> Naveen</a>
    </ol>
  </nav>
  
  
  <div class="container register">
   
        <div class="col-md-12 register-right">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100">Master Data</h5>
          </div>
           
            <div style="margin-top: 0%;" class="tab-content" >
                <div style="margin-top: 4%;" class="xyz" id="home" role="tabpanel">
                   
                        <form style="margin-left: 28%;" class="col-lg-offset-8" >
                            <button type="button" class="btn btn-success" style="width: 60%;">Upload</button>
                            <br>
                            <br>
                            
                            <button type="button" class="btn btn-success" style="width: 60%;">Download Data</button>
                            <br>
                            <br>
                            <button  type="button" class="btn btn-success" style="width: 60%;">Download Templete</button>
                            <br>
                            <br>  
                            
                        </form> 
            </div>
        </div>
    </div>
  
  </div>
 